// main.scss 

@import "@fortawesome/fontawesome-free/css/all.css";

/****** SCSS VARIABLES ******/
$background-blue: #3dc2ff;
$light-black: #181919;
$card-color: #e5e4e4;
$clear-white: white;
$halfem: .5em;
$onehalfem: 1.5em;
$tenpx: 10px; 


/****** MIXINS ******/
@mixin card-style{
    text-align: left;
    display: grid;
	border-top: $halfem solid $card-color;
    border-radius: $onehalfem;  
    box-shadow: 5px $tenpx rgba(0, 0, 0, 0.05);
}

@mixin card-specific{
    background-color: $clear-white;
    border-radius: $halfem;  
    box-shadow: 5px $tenpx rgba(0, 0, 0, 0.05);
}


/****** FUNCTION ******/
@function calc-grid-area($num){
    //@return grid-area: $num / 1 / span 1 / span 7;
}

/****** IMPORTED FILES ******/
@import "cards";
@import "footer";

/****** GRID STYLING ******/
body{
    display: grid;
    grid-template-columns: 2fr, 2fr, 2fr; 
    background-color: $card-color;
}

nav{
    grid-area: 1 / 1 / span 1 / span 7;
    padding: $tenpx;
    background-color: $background-blue;

    & > ul > li{
        list-style-type: none;
        text-decoration: underline;
        color: $light-black;
    }
}

// Featured
.featured{
    grid-area: 2 / 1 / span 1 / span 7; 

    & > .top-featured{
        text-align: center;
        display: grid;
        background-color: $background-blue;
        color: $clear-white;
    }
    
    & > .low-featured{
        text-align: center;
        display: grid;
        background-color: $light-black;
        color: rgb(162, 162, 162);
    
        & > button{
            background-color: #44c4a2;
            color: $light-black;
        }
    }
}

//Perfect for Developers
.perfect{
    grid-area: 4 / 1 / span 1 / span 7;
    text-align: center;
    display: grid;
    background-color: $card-color;

    & > h1{
        color: rgb(186, 184, 184);
    }
    
    & > p{
        color: rgb(162, 162, 162);
    }
}
